*{
    padding: 0; 
    margin: 0; 
    border: 0;
}

*, *::before, *::after{box-sizing: border-box;}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.woff2");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.woff2");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.woff2");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.woff2");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff2");
}

@font-face {
    font-family: "OktahRound-Light";
    src: url("../fonts/OktahRound-Light.otf");
}

@font-face {
    font-family: "OktahRound-Regular";
    src: url("../fonts/OktahRound-Regular.otf");
}

@font-face {
    font-family: "OktahRound-Medium";
    src: url("../fonts/OktahRound-Medium.otf");
}

html, body{
    font-family: "Montserrat-Regular";
    font-size: 17px;
    line-height: 1;
    color: #1A1A1A;
    background-color: #1A1A1A;
    text-size-adjust: 100%;
    overscroll-behavior-y: none;
}

body._lock, .wrapper{overflow: hidden;}

$white: #FFFFFF;
$orange1: #FDB346;
$orange2: #FDBB59;
$gray1: #757474;
$gray2: #707070;
$gray3: #C0C0C0;

.orange-title{color: $orange2;}
.white-title{color: $white;}
.white-section{background-color: $white;}

.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.container1{max-width: 1772px;}

section:not(.first-screen, .home-section4){
    padding-top: 120px;
    padding-bottom: 120px;
}

a{text-decoration: none;}

main a, footer a{color: inherit;}

picture{
    img{display: block;}
}

input, textarea{font: inherit;}

input, input:focus{appearance: none;}

button{
    font-family: "Montserrat-Medium";
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

.left-to-right, .right-to-left, .bottom-up, .transparency{
    position: relative;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.left-to-right{transform: translate3d(-100%, 0, 0);}

.left-to-right:not(.form-section__img1), .right-to-left:not(.text__dividing-line div, .form-section__img2){
    transition: transform 0.8s, opacity 0.8s, visibility 0.8s;
}

.bottom-up:not(.common-section1__subtitle){transform: translate3d(0, 50%, 0);}

.transparency{
    transform: translate3d(0, 0, 0);
    transition: opacity 0.8s, visibility 0.8s;
}

h3{
    font-family: "OktahRound-Regular";
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0.02em;
    .h3__span1{
        text-transform: uppercase;
        margin-right: 7px;
    }
    .h3__span2{
        display: inline-block;
        color: $gray1;
        .span2__underline{
            display: block;
            height: 2px;
            margin-top: 14px;
            background-color: $orange2;
            transform: translate3d(0, 0, 0) scale(0);
            transition: transform 0.8s 0.8s;
        }
    }
}

h3.transparency:not(.home-section4 h3, .form-section h3, .common-section2 h3){
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h3:not(.transparency){
    text-align: center;
    .h3__span1{display: inline-block;}
}

.h3-margin-bottom{margin-bottom: 70px;}

.anim-item._transform{
    h3{
        .h3__span2{
            .span2__underline{transform: translate3d(0, 0, 0) scale(1);}
        }
    }
    .left-to-right, .right-to-left, .bottom-up, .transparency{
        opacity: 1;
        visibility: visible;
    }
    .left-to-right, .bottom-up:not(.common-section1__subtitle){transform: translate3d(0, 0, 0);}
}

h4{
    font-size: 36px;
    line-height: 150%;
}

.h4-without-bg{font-family: "OktahRound-Light";}

.h4-black-bg, .h4-white-bg{
    padding: 11px 12px;
    text-align: center;
    text-transform: uppercase;
}

.h4-black-bg{
    color: $white;
    border: 10px solid #1A1A1A;
    box-shadow: 0 0 2px $white inset;
    background-color: #1A1A1A;
}

.h4-white-bg{
    border: 10px solid $white;
    box-shadow: 0 0 2px #1A1A1A inset;
    background-color: $white;
}

h6{
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
}

.consultation-btn{
    position: fixed;
    z-index: 3;
    bottom: 55px;
    right: 55px;
    width: 130px;
    height: 130px;
    line-height: 142%;
    text-transform: uppercase;
    border: 2px solid $white;
    color: $white;
    background-color: rgba(26, 26, 26, 0.8);
}

.big-rectangle{
    height: 60px;
    text-transform: uppercase;
    border: 1px solid;
    padding-top: 2px;
}

.big-rectangle:not(button){
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-Medium";
}

.orange-bg{
    border-color: $orange2;
    background-color: $orange2;
}

@media (hover: hover) and (pointer: fine){
    .consultation-btn{transition: background-color 0.3s;}
    .consultation-btn:hover{background-color: rgba(26, 26, 26, 0.9);}
    .big-rectangle{transform: translate3d(0, 0, 0);}
    .big-rectangle:not(.section-with-reviews .big-rectangle){transition: border-color 0.3s, background-color 0.3s;}
    .orange-bg:not(.home-section11 .orange-bg, .modal-window .orange-bg):hover{
        border-color: $white;
        background-color: $white;
    }
}

.img-wrapper{
    display: grid;
    div, picture{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    picture{
        img{width: 100%;}
    }
}

.one-line{white-space: nowrap;}

@media(max-width: 1880.9px) and (min-width: 321px){
    html, body{font-size: calc(14px + (17 - 14) * ((100vw - 321px) / (1880 - 321)));}
    .container{padding: 0 calc(15px + (30 - 15) * ((100vw - 321px) / (1880 - 321)));}
    section:not(.first-screen, .home-section4){
        padding-top: calc(58px + (120 - 58) * ((100vw - 321px) / (1880 - 321)));
        padding-bottom: calc(58px + (120 - 58) * ((100vw - 321px) / (1880 - 321)));
    }
    h3{
        font-size: calc(18px + (50 - 18) * ((100vw - 321px) / (1880 - 321)));
        .h3__span2{
            .span2__underline{margin-top: calc(10px + (14 - 10) * ((100vw - 321px) / (1880 - 321)));}
        }
    }
    .h3-margin-bottom{margin-bottom: calc(40px + (70 - 40) * ((100vw - 321px) / (1880 - 321)));}
    h4{font-size: calc(17px + (36 - 17) * ((100vw - 321px) / (1880 - 321)));}
    h6{font-size: calc(15px + (20 - 15) * ((100vw - 321px) / (1880 - 321)));}
    .consultation-btn{
        font-size: calc(10px + (17 - 10) * ((100vw - 321px) / (1880 - 321)));
        bottom: calc(16px + (55 - 16) * ((100vw - 321px) / (1880 - 321)));
        right: calc(16px + (55 - 16) * ((100vw - 321px) / (1880 - 321)));
        width: calc(80px + (130 - 80) * ((100vw - 321px) / (1880 - 321)));
        height: calc(80px + (130 - 80) * ((100vw - 321px) / (1880 - 321)));
    }
    .big-rectangle{height: calc(48px + (60 - 48) * ((100vw - 321px) / (1880 - 321)));}
}

@media(min-width: 1101px) and (max-height: 860.9px){
    .consultation-btn{
        bottom: 36px;
        right: 36px;
    }
}

@media(max-width: 320.9px){
    html, body{font-size: 14px;}
    .container{padding: 0 15px;}
    section:not(.first-screen, .home-section4){
        padding-top: 58px;
        padding-bottom: 58px;
    }
    h3{
        font-size: 18px;
        .h3__span2{
            .span2__underline{margin-top: 10px;}
        }
    }
    .h3-margin-bottom{margin-bottom: 40px;}
    h4{font-size: 17px;}
    h6{font-size: 15px;}
    .consultation-btn{
        font-size: 10px;
        bottom: 16px;
        right: 16px;
        width: 80px;
        height: 80px;
    }
    .big-rectangle{height: 48px;}
}